{% extends 'base.html.twig' %}

{% block title %}{{ verb }} une réponse{% endblock %}

{% block main %}
    <h1>{{ verb }} une réponse</h1>
    {{ form(form) }}
    <a href="{{ path('question_edit', {id: question_id}) }}" class="btn btn-secondary">Retour</a>
{% endblock %}
